################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstConsoleApp/.vs/FirstConsoleApp/v16/Server/sqlite3
/Hsb/proje/node_modules
.vs
/Hsb/.vs/Hsb
/sqlite

/Hsb/Mvc/wwwroot/plugins/*

*.cache
**/*.dll
/Hsb/Hsb/obj/Debug/netcoreapp3.1

/Hsb/Mvc/*/Debug/*

**/obj
**/bin
**/bin/*
**/*.exe
/Analiz-Kodlama
/FirstConsoleApp
/Hsb
/MyWeb
/SignalR
/Web1
